*{
    font-family: 'Mulish';
    width: 100%;
}

header{
    width: 100%;
    a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    }

    a:hover{

    color: black;
    text-decoration: none;

    }
}

.logo{
    height: 100px;
    width: 148px;
    margin-left: 25px;
}

nav{
    width: 100%;
    padding-left: 25px;

    a{
        margin-right: 40px;
        color: grey;
        text-decoration: none;
    }

    a:hover{
        color: grey;
        font-weight: bold;
        text-decoration: none;

    }

    .black-nav{
        color: black;
    }
}

.empty{
    height: 78px;
}

main{

    width: 100%;
    padding-left: 25px;

    .carre{
        position: relative;
        // left: 25px;
        // padding-left: 25px;
        padding-right: 5px;
        width: 41px;
        height: 41px;
    }

    .main1{
        position: relative;
        padding-left: 20px;
        bottom: 40px;
    }

    .tarte-au-citron{
        width: 400px;
        height: 450px;
    }

    .paragrahe{
        position: relative;
        top: 63px;
    }

    .paragrahe p{
        color: #7D7987;
        font-size: 21px;
        width: 400px;
    }

    .btn-primary{
        width: 200px;
        height: 56px;
        border-radius: 55px;
    }

    .services{
        position: relative;
        top: 100px;
    }

    .ligne{
        position: relative;
        left: 56px;
        top: 14px;
        border-bottom:1px solid black;
        width: 56px;
    }

    .anotherp{
        position: relative;
        top: 30px;
        color: #7D7987;
        font-size: 18px;
        justify-content: left;
        max-width: 950px;
    }

    .scarre{
        position: absolute;
        top: 1200px;
        display: grid;
        grid-template-columns: auto auto auto;
        max-width: 1200px;
    }

    .carrelink{
        width: 350px;
        height: 354px;

        border-bottom:1px solid whitesmoke;
        box-shadow:10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;
        position: relative;
    }

    .div-carre{
        color: black;
        text-decoration: none;
        position: absolute;
        top: 50px;
    }

    a:hover{
        color: black;
        text-decoration: none;
    }

    .simg{
        width: 100px;
        height: 100px;
    }

    .div-carre p{
        color: #7D7987;
        font-size: 16px;
    }

    .learn{
        position: absolute;
        top: 1983px;
        width: 200px;
        height: 56px;
    }

    .learn{
        border-radius: 55px;
    }

    // FILE 2 //


    .blue-carre{
        width: 1120px;
        height: 470px;
        background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%); 
        border-radius: 24px; 
        color: white;
        position: absolute;
        top: 75px;
    }

    .lef{
        position: relative;
        left: 25px;
    }

    .h22{
        position: relative;
        top: 25px;
    }

    .ligne2{
        border-bottom:1px solid white;
        width: 56px;
        position: relative;
        top: 35px;
        left: 246px;
    }

    .p1{
        width: 420px;
        height: 120px;
        position: relative;
        top: 45px;
    }

    .pp{
        border-radius: 50%;
        width: 140px;
        height: 140px;
        position: relative;
        top: 45px;
    }

    .p3{
        position: relative;
        top: 45px;
        color: white;
    }

    .p4{
        position: relative;
        top: 35px;
    }

    .check{
        position: relative;
        top: 615px;
    }

    .tcarre{

        position: absolute;
        top: 60px;
        display: grid;
        grid-template-columns: auto auto auto;
        max-width: 1122px;
    }

    .tcarre a{
        color: black;
        text-decoration: none;
    }

    .tcarre a:hover{
        color: black;
        text-decoration: none;
    }

    .tclink{
        height: 512px;
        width: 350px;
        border-bottom:1px solid whitesmoke;
        box-shadow:10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;
    }

    .tclink img{
        width: 350px;
        height: 245px;
        border-radius: 20px 20px 0px 0px;
    }

    .div-tcarre{
        position: relative;
        top: 60px;
        color: gray;
    }

    h3{
        color: black;
    }

    .mv{
        margin-left: 25px;
    }

    .view{
        position: absolute;
        top: 1280px;
    }

    .tomakecenter{
        position: relative;
        padding-left: 20px;
    }

    .read{

        color: #4089ED;
    }
}

footer{

    width: 100%;

        .footer1{
            height: 425px;
            background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);    
            position: relative;
            top: 1345px;
        }

    .footerb{
        position: relative;
        top:50px;
        color: white
    }

    .link a{
        color: white;
        text-decoration: none;
        margin-left: 40px;
    }

    .name{
        position: relative;
        top: 74px;
        color: white;
        text-decoration: none;
        font-size: 24px;
    }

    .copyright{
        position: relative;
        top: 135px;
        padding-left: 25px;
        font-size: 16px;
    }

    .footer2{
        background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);    
        position: relative;
        top: 1380px;
        width: 1440px;
        height: 425px;
    }

}
